{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<p>Just here to check it out?
  <br/>Feel free to enter in the guest credentials:
  <br/>Username: <strong>Guest</strong>
  <br/>Password: <strong>musicmatters</strong>
</p>
<form method="post" action=""  class="form-user-config">
  {% include '../pretty_form_content.html'%}
  <button class="btn-box form-button" type="submit">Login</button>
</form>
{% endblock %}
