{% load static %}

<div class="songlist-container row">
  {% if user.is_authenticated %}

    {% for register in register_set %}
      <div class="song-container col-lg-4 col-sm-6 col-xs-12">
        <img class="songlist-album-art" src="{{register.song.album.large_image_uri|default:backup_album_image}}" alt="{{ song.album.name|default:"" }}">
        <h3 class="songlist-song-name">{{ register.song.song.name }}</h3>
        <h5 class="songlist-artist">{{ register.song.artist.name }}</h5>
        <p class="songlist-album"><em>{{ register.song.album.name|default:"" }}</em></p>
        <p class="songlist-album-info">
          {# one line for django spacing issue with newlines #}
          <span>{{ register.song.year|default:"" }}</span>{% if register.song.year and register.song.album.label %}, {% endif %}
          {{ register.song.album.label|default:"" }}
        </p>

        <button type="button" class="btn-box songlist-button" name="song-post-button"
            data-song-id="{{register.song.kexp_trackid}}"
            data-play-id=""
            data-show-id="{{register.showid}}"
            data-registered='true'
            data-register-id='{{register.id}}'
            data-register-active='{{register.is_active}}'
            onClick="handleSongAjax(event, '{% url 'ajax_add_song' %}', '{% url 'ajax_change_song_status' %}')">

          {% if register.is_active == True %}
            <span class="heart-container heart-plus"><span class="heart"></span></span> On your list
          {% elif register.is_active == False %}
            <span class="heart-container heart-minus"><span class="heart"></span></span> Add back
          {% else %}
            <span class="heart-container heart-neutral"><span class="heart"></span></span> Add to your list
          {% endif %}
        </button>
      </div>
    {% empty %}
      <p class="notice">Looks like you don't have any favorites yet. Add some at <a href="/">the playlist feed.</a></p>
    {% endfor %}
  {% else %}

  {% endif %}
</div>
</div>

<script src="{% static 'favoriter/js/likeButtonHandling.js'%}"></script>
