{% extends './favoriter-base.html' %}
{% load static %}

{% block content %}
{% include "./nav.html" with currentpage_feed=True %}

<div class="container">

<div class="songlist-title-container">
  <h1>Feed List</h1>
  <p>Here's around the last hour played at <a href="http://kexp.org/" target="_blank">KEXP.org</a>.</p>
  {% if user.is_authenticated %}
      <p>Add some songs to your <a href="{% url 'favorite-list'%}">list of favorites</a>.</p>
  {% else %}
    <p>
      You won't be able to add anything, though, until you
      <a href="{% url 'login' %}?next={{request.path}}">Login</a>
        or
      <a href="{% url 'signup' %}?next={{request.path}}">Signup</a>
    </p>
    <p>Don't feel like signing up? Use the guest account with:</p>
    <p>Username: Guest</p>
    <p>Password: musicmatters</p>
  {% endif %}
</div>


<div class="songlist-container row">
  {% for song in feed_list %}
    <div class="song-container col-lg-4 col-sm-6 col-xs-12">
      <img class="songlist-album-art" src="{{song.release.largeimageuri|default:backup_album_image}}" alt="{{ song.release.name|default:"" }}">
      <h3 class="songlist-song-name">{{ song.track.name }}</h3>
      <h5 class="songlist-artist">{{ song.artist.name }}</h5>
      <p class="songlist-album"><em>{{ song.release.name|default:"" }}</em></p>
      <p class="songlist-album-info">
        {# one line for django spacing issue with newlines #}
        <span>{{ song.releaseevent.year|default:"" }}</span>{% if song.releaseevent.year and song.label.name %}, {% endif %}
        {{ song.label.name|default:"" }}
      </p>

      {% if user.is_authenticated %}
      <button type="button" class="btn-box songlist-button" name="song-post-button"
          data-song-id="{{song.track.trackid}}"
          data-play-id="{{song.playid}}"
          data-show-id="{{song.showid}}"
          {% if song.registered %}
            data-registered='true'
            data-register-active='{{song.register_active}}'
            data-register-id='{{song.register_id}}'
          {% else %}
            data-registered='false'
            data-register-active='false'
            data-register-id=''
          {%endif%}
          onClick="handleSongAjax(event, '{% url 'ajax_add_song' %}', '{% url 'ajax_change_song_status' %}')">

        {% if song.registered and song.register_active%}
          <span class="heart-container heart-plus"><span class="heart"></span></span> On your list
        {% elif song.registered and not song.register_active%}
          <span class="heart-container heart-minus"><span class="heart"></span></span> Add back
        {% else %}
          <span class="heart-container heart-neutral"><span class="heart"></span></span> Add to your list
        {% endif %}
      </button>
      {% else %}
        <p class="songlist-button songlist-button-inactive">
          <span class="heart-container heart-neutral"><span class="heart"></span></span>
          <a href="{% url 'login' %}?next={{request.path}}">Login</a>
           or
          <a href="{% url 'signup' %}?next={{request.path}}">Signup</a>
        </p>
      {% endif %}
    </div>
  {% empty %}
    <p class="notice">Looks like there were no songs that could be added that were played recently.</p>
  {% endfor %}
</div>
</div>



<script src="{% static 'favoriter/js/likeButtonHandling.js'%}"></script>

{% endblock %}
