{% extends './favoriter-base.html' %}
{% block title %}
  {% if user.is_authenticated %}
    {{user}}'s Favorite List
  {% else %}
    Lists Live Here
  {% endif %}
{% endblock %}
{% block content %}
{% include "./nav.html" with currentpage_list=True %}

<div class="container">
<div class="songlist-title-container">
  {% if user.is_authenticated %}
    <h1>{{ favorite_list.name }}</h1>
    <p>Here's your list:</p>
  {% else %}
    <h1>Soon-to-be your list of favorites!</h1>
    <p>You won't be able to add anything, though, until you
      <a href="{% url 'login' %}?next={{request.path}}">Login</a>
        or
      <a href="{% url 'signup' %}?next={{request.path}}">Signup</a>
    </p>
  {% endif %}
</div>

{% include "./list_partials/list_base.html" %}

{% endblock %}
