
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="pageNav">
  <div id="navBarBg" style="opacity: 1;"></div>
  <span class="navbar-brand">
    <h4>Favorite Listing <a href="http://kexp.org/" target="_blank">KEXP.org</a></h4>
  </span>
  <button id="navBarBurgerButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        {% if not currentpage_feed%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'feed' %}">Feed</a>
          </li>
        {% endif %}
        {% if not currentpage_list%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'favorite-list' %}">List</a>
          </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}?next={{request.path}}">Sign up</a>
        </li>
      {% endif%}

    </ul>
  </div>
</nav>
