
.songlist-title-container {
  text-align: center;
  p {
    margin-bottom: 0.3em;
  }
}

.songlist-container {

}

.song-container {
  // text-align: center;
  padding: 0 2em;
  margin-bottom: 2em;
  margin-top: 2em;

}

.songlist-album-art {
  width: 100%;
  max-width: 250px;
  margin-bottom: 0.5em;
}

.songlist-song-name {
  line-height: 1.1;
  margin-bottom: 0.2em;
}
.songlist-artist {
  font-family: "Din", "Roboto", "helvetica", sans-serif;
  margin-bottom: 0.7em;
}
.songlist-album {
  margin-bottom: 0.25em;
}
.songlist-album-info {
  margin-bottom: 0.7em;
}

.songlist-button {
  border: none;
  padding-left: 0;
}

//HEARTS
.heart-container, .heart {
  display: inline-block;
}
.heart-container {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 8px 5px 0;
  opacity: 0.9;
}
.heart {
  height: 100%;
  width: 100%;
  transform: rotate(-45deg);
}
.heart:before,
.heart:after {
  content: "";
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
}
.heart:before {
  top: -51%;
  left: 0;
}
.songlist-button-inactive{
  .heart:after {
    right: -51%;
  }
}

.heart-plus > .heart{
  &, &:before, &:after {
    background-color: #d8300f;
  }
}
.heart-minus > .heart{
  &, &:before, &:after {
    background-color: #b2b1ae;
  }
}
.heart-neutral > .heart{
  &, &:before, &:after {
    background-color: $brand-gold;
  }
}
