{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}User Configuration{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link inline rel="stylesheet" type="text/css" href="{% static 'favoriter/styles/compiler.css'%}">
</head>
<body>
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>
