{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign up</h2>
<p>Just here to check it out?
  <br/>Feel free <a href="{% url 'login' %}?next={% url 'feed' %}">to login with the guest credentials</a>
</p>
<form method="post" action="" class="form-user-config">
  {% include './pretty_form_content.html'%}
  <button class="btn-box form-button" type="submit">Sign up</button>
</form>
{% endblock %}
